<!-- <ion-content> -->
  <ion-list>
    <ion-item (click)="usuarioPreferencias()" class="avatarMenu">
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      Pepito Peres
    </ion-item>
    <ion-item (click)="eventFromPopover()">
      <ion-icon slot="start" name="person"></ion-icon>
      Ver perfil
    </ion-item>
    <ion-item (click)="eventFromPopover()">
      <ion-icon slot="start" name="settings"></ion-icon>
      Configuración
    </ion-item>
    <ion-item (click)="cerrarSesion()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Cerrar sesión
    </ion-item>
  </ion-list>
<!-- </ion-content> -->