.contenedorBuscador {
    border-width: 1px;
    border-style: solid;
    border-color: #06775c;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #4fb9a829;
    padding-top: 10px;
    padding-bottom: 10px;
}
ion-select {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #009877;
    box-shadow: 0 8px 14px rgb(79 185 168 / 19%) !important;
}
ion-card-header {
    background-color: #ae1857;
    padding: 10px 15px;
}
ion-card-title {
    color: white;
    font-size: 16px;
}
ion-card-subtitle {
    color: #f9b154;
}
ion-card-content {
    padding: 10px 15px;
    color: black;
}
ion-input {
    border-radius: 25px;
    background-position: left 8px center;
    height: 36px;
    font-weight: 400;
    color: #7f8490;
    background-color: white;
    border: 1px solid #009877;
    box-shadow: 0 8px 14px rgb(79 185 168 / 19%) !important;
}
.txtQuindo {
    color: #ae1857;
}
.txtLila {
    color: #482778;
}
.txtVerde {
    color: #06775c;
    font-size: 14.5px;
}
.textNum {
    font-size: 9px;
}