ion-card-header {
    background-color: #ae1857;
    padding: 10px 15px;
}
ion-card-title {
    color: white;
    font-size: 15px;
}
ion-card-subtitle {
    color: #f9b154;
    font-size: 13px;
}
ion-card-content {
    padding: 10px 15px;
    color: black;
}
.contAgua {
    background-color: #ae185714;
}
.txtPresupuesto {
    color: #482778;
}
.contenedorBuscador {
    margin-top: 20px;
    margin-bottom: 10px;
}