<ion-content [fullscreen]="false" class="ion-no-padding fondoStrongPurple">
  <div class="titleContenedor">
    <img src="assets/imgs/principales/logo-reporteEjecutivo.png" alt="">
  </div>
  <div>
    <div class="fondoContenedor">
      <div class="enlacesContendor">
        <ion-grid>
          <!-- ion-row>
            <ion-col>
              <ion-button shape="round" expand="block" color="warning" (click)="mostrarRegistro()" class="btncolor">Registrarse</ion-button>
            </ion-col>
          </!-ion-row -->
          <ion-row>
            <ion-col>
              <ion-button shape="round" expand="block" color="guindo" (click)="mostrarLogueo()" class="btncolor">Ingresar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="notaContenedor">
          <p>
            Plataforma de seguimiento e información de reportes ejecutivos del Gobierno Autónomo Municipal de Cochabamba.
            <br>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footerConteiner">
    <img src="assets/imgs/principales/cocha-somos-innovacion.png" alt="">
  </div>
</ion-content>