<ion-header mode="md">
  <ion-toolbar class="header-color">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="iconTitle">
            <ion-menu-button>
              <ion-icon name="reorder-three-outline"></ion-icon>
            </ion-menu-button>
          </ion-col>
          <ion-col size="10">
            <div class="ion-text-center">
              <h2>Personal GAMC</h2>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ion-no-padding fondoStrongWhite">
  <div class="fondoContenedor">
    <div class="btnAtras">
      <ion-button fill="clear" (click)="goBack()" class="ion-no-padding" routerDirection='back'>
        <ion-icon name="chevron-back-outline"></ion-icon> Atrás
      </ion-button>
    </div>
    <div class="titulo">
      <h3>Busqueda</h3>
    </div>
    <div class="contenedorBuscador">
      <form [formGroup]="form">
        <ion-row>
          <ion-col>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="Ingrese nombre" formControlName="nombre"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="stacked">Apellido </ion-label>
            <ion-input placeholder="Ingrese apellido" formControlName="paterno"></ion-input>
          </ion-col>
        </ion-row>
      
        <div class="ion-text-center" style="margin-top: -15px;">
          <ion-button shape="round" color="verde" (click)="filtrar()" class="btncolor" style="margin-top: 24px;"  [disabled]="!form.valid">
            <ion-icon name="search-outline"></ion-icon>
            Buscar
          </ion-button>
        </div>
      </form>
    </div>
    <div [hidden]="!mensaje" class="txtMensaje">
      <ion-icon name="information-circle-outline"></ion-icon>
      {{ mensaje }}
    </div>
    <div [hidden]="!showInfo">
      <div *ngFor="let funcionario of funcionarios">
        <div class="cardVacante">
          <ion-card class="ion-no-padding ion-no-margin" style="margin-bottom: 8px;">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="person-outline"></ion-icon>
                {{ funcionario['upper'] }}
              </ion-card-title>
              <ion-card-subtitle>
                <ion-row>
                  <ion-col size="7" class="ion-no-padding">
                    Cargo: {{ funcionario['descripcion'] }}
                  </ion-col>
                  <ion-col size="5" class="ion-no-padding ion-text-right">
                    Item: {{ funcionario['nro_item'] }}
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-row>
                <ion-col class="ion-no-padding ion-text-right">
                  <p>Fecha de ingreso: <ion-badge color="verdeclaro">{{ funcionario['fechaini'] }}</ion-badge></p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <p>Institución: {{ funcionario['institucion'] }}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <p>Departamento: {{ funcionario['codigo'] }}</p>
                </ion-col>
              </ion-row>
              <!--
              <ion-row>
                <ion-col class="ion-no-padding" size="7">
                  <p>Salario: <ion-badge color="guindo">{{ funcionario['haber_basico'] }} Bs.</ion-badge></p>
                </ion-col>
                <ion-col class="ion-no-padding ion-text-right" size="5">
                  <ion-button fill="clear" (click)="verImagen(vacante['numdocumento'])" class="ion-no-padding">
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row> -->
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>