.contAval {
    padding: 8px 3px;
    text-align: center;
    background-color: #ae185747;
    border-radius: 8px;
    text-transform: uppercase;
}
img {
    max-width: 90%;
    border: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #ae1857;
    border-radius: 8px;
    background-color: #ae185747;
    box-shadow: 0 8px 14px rgb(174 24 87 / 18%) !important;
}