ion-card-header {
    background-color: #ae1857;
    padding: 10px 15px;
}
ion-card-title {
    color: white;
    font-size: 16px;
}
ion-card-subtitle {
    color: #f9b154;
}
ion-card-content {
    padding: 10px 15px;
}
.cardTotales p {
    font-size: 16px;
    color: black;
}
.contenedorBuscador {
    border-width: 1px;
    border-style: solid;
    border-color: #06775c;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #4fb9a829;
    padding-top: 10px;
    padding-bottom: 10px;
}