.contenedorGrafica {
    ion-card-header {
        background-color: #009877;
        padding: 10px 15px;
    }
    ion-card-title {
        color: white;
        font-size: 14px;
    }
}
.contenedorGrafica {
    margin-top: 20px;
}

ion-card-header {
    background-color: #ae1857;
    padding: 10px 15px;
}
ion-card-title {
    color: white;
    font-size: 14px;
}
ion-card-subtitle {
    color: #f9b154;
}
ion-card-content {
    padding: 10px 15px;
    color: black;
}
.cardTotales p {
    font-size: 16px;
    color: black;
}