<ion-header mode="md">
  <ion-toolbar class="header-color">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="11" class="iconTitle">
            <h2>Gráfica: {{ nombre }}</h2>
          </ion-col>
          <ion-col size="1" class="salir">
            <ion-button fill="clear" class="ion-no-padding" (click)="closeModal()">
              <ion-icon slot="icon-only" name="close" class="closeModal"></ion-icon>
            </ion-button>         
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ion-no-padding fondoStrongWhite">
  <div class="fondoContenedor">
    <div class="contenedorBuscador">
      <form [formGroup]="form">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-searchbar formControlName="busqueda" class="ion-no-padding" placeholder="Buscar por proyecto" (ionInput)="setFilteredGraphics()">
            </ion-searchbar>
          </ion-col>
        </ion-row>
      </form>
    </div>

    <div *ngFor="let graphic of filterData">
      <ion-card class="ion-no-padding ion-no-margin" style="margin-bottom: 5px;">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="clipboard-outline"></ion-icon>
            Proyecto: {{ graphic['nombre_proyecto'] }}
          </ion-card-title>
          <!-- <ion-card-subtitle>
            Unidad ejecutora: {{ graphic['unidad_ejecutora'] }}
          </ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          <ion-row class="contAgua">
            <ion-col> Unidad ejecutora: {{ graphic['unidad_ejecutora'] }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col> 
              Presupuesto:
              <ion-badge color="warning" style="font-size: 15px;">{{  graphic['presupuesto_vigente'] }} Bs.</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row class="contAgua">
            <ion-col> Estr. programada: {{ graphic['estructura_programatica'] }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col> Descripción: {{ graphic['est_descripcion'] }}</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>