.linea{
    // width: 90%;
    border-bottom: solid 2px white;
    display: block;
    // margin: auto;
}
ion-menu{
    --ion-background-color: var(--ion-color-tertiary-contrast);
}
/* Active */
.menuSelect{
    --ion-item-background: linear-gradient(to right, #f9b154 1%,#ae1857 1%);
    // --ion-border-color: white;
    color: white;
    ion-icon{
        color: white;
    }
}
.menuDeselect{
    --ion-item-background: var(--ion-color-tertiary-contrast);
    --ion-border-color: white;
    color: #3c3c3b;
    ion-icon{
        color: #3c3c3b;
    } 
}

.userAccess {
    text-align: center;
    color: #3c3c3b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.userAccess p {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}
.userAccess img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #06775c;
    box-shadow: 0 8px 14px rgb(79 185 168 / 19%) !important;
}
.unidad {
    color: #482778;
    font-size: 12px;
}