ion-card-header {
    background-color: #ae1857;
    padding: 10px 15px;
}
ion-card-title {
    color: white;
    font-size: 16px;
}
ion-card-subtitle {
    color: #f9b154;
}
ion-card-content {
    padding: 10px 15px;
}