.titulo{
    font-size: 1.6em;
    color: white;
    font-family: "poppins-SB";
    text-align: center;
}
.linea{
    width: 30%;
    border-bottom: solid 2px white;
    display: block;
    margin: auto;
}