$color-plomo: #706f6f;
$color-rosado-fuerte: #ae1857;
$color-rosado-bajo: #ea547c;
$color-celeste-bajo: #4ac1e0;
$strong-pink: #ae1857;
$ion-color-btn: #f9b154;


/* .fondoStrongPink {
    --ion-background-color:  #ad1e58; //#ae1857;
}
.fondoStrongPink .fondoContenedor {
    background-image: url("./assets/imgs/principales/fondo-redes.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
} */