<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="estilo fondoStrongPink">
    <ion-buttons slot="start" style="padding-left: 12px;">
      <ion-menu-button color='light'></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-text color='light'><h2>{{txtTitulo}}</h2></ion-text>
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="settingsPopover()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>