<ion-content [fullscreen]="false" class="ion-no-padding fondoStrongPurple">
  <div class="contenedor">
    <div class="fondoContenedor">
      <div class="iconoPrincipal">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/imgs/principales/logo-reporteEjecutivo.png" alt="" (click)="click()">
            </ion-col>
          </ion-row>
        </ion-grid>        
      </div>     
      <img src="assets/imgs/principales/logo-alcaldiacbba.png" alt="" (click)="click()">
    </div>
  </div>
</ion-content>
